<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h2>Welcome to my Angular Playground</h2>
      <hr>
      <p>
        This playground is mainly here to demonstrate core Angular concepts: modules organisation, components re-use, communication between components, dependency injection, observables, structural and attribute directives, reactive forms, global state...etc. Those examples are not fully functional applications, they are just interesting from a code point of as they can easily be extended. I will keep adding more examples regularly.</p>

        <p>Those examples have been created using Angular 4 with the <a href="https://github.com/angular/angular-cli">Angular CLI</a>. The source code is available on <a href="https://github.com/Hokken/angular-examples">GitHub</a> so you can have a look at it.</p>
    </div>
  </div>
</div>

